#download_form li {
    list-style: none;
}

.hide {
    display: none!important
}

.warningColorRed {
    color: #e74c3c;
}

.warningColoryellow {
    color: #f39c12;
}

.logo {
    width: 128px;
    margin-top: 10px;
}

.outer-logo {
    position: relative;
    display: inline-block;
    display: inline-block;
}

.outer-logo>img {
    vertical-align: middle;
}

.outer-logo::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 89%;
    height: 92%;
    background: #000;
    opacity: 0;
    transition: .5s ease;
}

.outer-logo:hover::before {
    opacity: 0.50;
}

.btn {
    margin-left: .25rem!important;
    margin-right: .25rem!important;
}

h3 a {
    color: #0b0d0e;
    text-decoration: none;
    font-weight: 500;
}

h3 a:hover {
    color: #1c1f20;
    text-decoration: underline;
}

#result {
    margin-top: 10px;
}

.moduleIcon {
    margin-left: 5px;
    width: 50px;
}

@media only screen and (max-width: 600px) {
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .outer-logo::before {
        left: 0;
        top: 10px;
        width: 100%;
        height: 76%;
    }
    .moduleIcon {
        margin-left: 5px;
        width: 30px;
    }
}